body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    margin-top: 20px;
}

input {
    width: 80%;
    padding: 8px;
    margin-right: 5px;
    margin-top: 5px;
}

button {
    padding: 8px;
    margin-top: 10px;
    background-color: #4CAF50; /* Green color, you can change it to your desired color */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
}
button:hover {
    background-color: #45a049; /* Darker green color on hover, you can change it */
}

.shortened-url {
    margin-top: 20px;
}
