body {
    font-family: 'Arial', sans-serif;
    background-image: url('l3.jpg');
    background-size: cover; 
    background-position: center; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    margin-top: 20px;
}

input {
    width: 80%;
    padding: 8px;
    margin-right: 5px;
    margin-top: 5px;
}

button {
    padding: 8px;
    margin-top: 10px;
    background-color: #4CAF50; /* Green color, you can change it to your desired color */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
}
button:hover {
    background-color: #45a049; /* Darker green color on hover, you can change it */
}

.shortened-url {
    margin-top: 20px;
}
/* Media queries for responsiveness */
@media (max-width: 600px) {
    body {
        background-size: auto; /* Adjust background size for smaller screens */
    }

    .container {
        width: 90%; /* Adjust width for smaller screens */
    }
}
@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for medium-sized screens */
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%; /* Adjust width for smaller screens */
    }
}
