<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Link Shortener</title>
</head>
<body>
    <div class="container">
        <h1>Link Shortener</h1>
        <form action="{{ url_for('shorten') }}" method="post">
            <label for="url">Enter URL:</label>
            <input type="url" name="url" required>
            <button type="submit">Shorten</button>
        </form>
        {% if short_url %}
            <div class="shortened-url">
                <p>Shortened URL:</p>
                <a href="{{ url_for('redirect_to_original', short_url=short_url) }}" target="_blank">{{ url_for('redirect_to_original', short_url=short_url, _external=True) }}</a>
            </div>
        {% endif %}
    </div>
</body>
</html>
